# Virtual environments
env/
venv/

# Environment variables
.env
.env.local

# Data and artifacts
data/
backend/src/processors/
backend/mlruns/

# IDE and OS
.vscode/
.idea/
__pycache__/
*.pyc

#jenkins Dockerfile


kubeconfig_jenkins.yaml

# Kubernetes secrets
k8s/secrets.yml
config.txt
