# ==================================
# BACKEND & ML CORE DEPENDENCIES (PROD)
# ==================================

# --- Data Science & Machine Learning (runtime) ---
pandas
numpy<2.0
scikit-learn
xgboost
lightgbm
catboost

# --- ML Operations (MLOps) ---
mlflow>=2,<3
dagshub

# --- API & Web Server ---
fastapi
uvicorn[standard]
pydantic

# --- Utilities ---
python-dotenv
jinja2
